<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YouTube Comments Analyzer</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='sticky-footer.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js" integrity="sha256-sdmLD9jD1PIzq3KOQPNSGZYxjv76rds79Mnyk5JNp1M=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>

	   <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="container col-sm-6 col-sm-offset-3">
          <h2>Enter Youtube Video Id</h2>
          <p>(The part between 'v=' and '&' in the url.)</p>
          <p>For best viewing, please view this site on a desktop.</p>
          <br>
          <form id="submit_form" action="/analyze" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.video_id(class_="form-control") }}
              <br>
              {{ form.submit(class_="btn btn-primary") }}
            </div>
          </form>
        </div>
      </div>
      <br>
    </div>
    <div class="container col-sm-8">
      <div class="row">
        <div class="container-fluid" id="graphs">
          <div id="sent-boxplot"></div>
          <br><br><br>
          <div id="sent-histogram"></div>
          <br><br><br>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <br>
        <span class="text-muted">Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://ishaanmalhi.me/">Ishaan Malhi</a>.</span>
      </div>
    </footer>
  </body>
</html>
